   <div class="single-item-container">
      <div class="single-item-card">
        <div class="single-item-contents">
          <div class="single-item-title">
            {{singleItem.title}}
          </div>
          <div class="single-item-img">
            <img src="{{singleItem.imageUrl}}" alt="">
          </div>
          <div class="single-item-description">
           {{singleItem.description}}
          </div>
          <div class="single-item-navigation">
            <a href="index.html">
              <img class="back-arrow" src="img/back.svg" alt="back">
            </a>
            <a href="update.html">
              <div class="button update-button">
                Update
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
